/* {"name":"css-ui","version":"2.2.9","author":"Lcf.vs <michael.rouges@gmail.com>","license":"MIT"} */
:after, :before, a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, progress, q, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, u, ul, var, video {
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border: none;
    outline: 0;
    list-style: none;
    text-decoration: none;
    background: 0 0;
    margin: 0;
    padding: 0;
    color: inherit
}

:active,
:focus {
    outline: 0
}

html {
    font-size: 1em;
    overflow-x: hidden
}

body {
    display: table;
    width: 100%;
    height: 100%
}

body > header, body > nav {
    position: fixed;
    top: 0;
    left: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body > header {
    width: 100%;
    height: 3em;
    z-index: 1
}

body > header > h1 {
    position: fixed;
    left: 3em;
    line-height: 3em
}

body > nav {
    bottom: 0;
    margin-top: 3em;
    z-index: 1
}

body > nav > [tabindex="1"],
body > nav > [tabindex="-1"] {
    position: fixed;
    top: 0;
    display: block;
    width: 3em;
    text-align: center;
    line-height: 3em;
    z-index: 1
}

body > nav > [tabindex="1"] {
    z-index: 2
}

body > nav > [tabindex="1"]:focus {
    opacity: 0;
    pointer-events: none
}

body > nav > [tabindex="1"] + a + ol {
    height: 100%;
    width: 0;
    -ms-transition: width .2s .2s;
    -o-transition: width .2s .2s;
    -webkit-transition: width .2s .2s;
    transition: width .2s .2s
}

body > nav > [tabindex="1"]:focus + a + ol,
body > nav > [tabindex="1"]:focus + a + ol > li > a {
    width: 15em
}

body > nav > [tabindex="-1"] + ol > li {
    height: 3em
}

body > nav > [tabindex="-1"] + ol > li > a {
    -webkit-transition: width .2s .2s;
    transition: width .2s .2s;
    overflow-x: hidden;
    line-height: 3em;
    display: inline-block;
    min-width: 100%;
    white-space: nowrap;
    width: 0
}

body > nav > [tabindex="-1"] + ol > li > a:before {
    width: 3em;
    display: inline-block;
    text-align: center
}

body > nav > [tabindex="-1"] + ol > li > a:focus,
body > nav > [tabindex="-1"] + ol > li > a:hover {
    background: rgba(255, 255, 255, .3)
}

body > nav > [tabindex="1"]:focus + a + ol:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 3em;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .3)
}

main {
    top: 3em;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1em;
    height: calc(100vh - 3em)
}

main > h1 {
    font-weight: 700;
    margin: auto;
    display: block
}

main > * {
    display: inline-block;
    margin: .5em;
    padding: .5em;
    width: 95%;
    text-align: left
}