@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf");
    font-weight: bold;
    font-style: italic
}

@font-face{
    font-family: FontAwesome5Free;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/FontAwesome5Free/fa-solid-900.eot);
    src: url(../fonts/FontAwesome5Free/fa-solid-900.eot?#iefix) format("embedded-opentype"),
    url(../fonts/FontAwesome5Free/fa-solid-900.woff2) format("woff2"),
    url(../fonts/FontAwesome5Free/fa-solid-900.woff) format("woff"),
    url(../fonts/FontAwesome5Free/fa-solid-900.ttf) format("truetype"),
    url(../fonts/FontAwesome5Free/fa-solid-900.svg#fontawesome) format("svg")
}
