@import "./fonts.css";
@import "./icons.css";

body {
  font-family: OpenSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

main > h1 {
  color: var(--theme--title-color);
  font-size: 2em;
  text-align: center
}

main > section {
  background: var(--css-ui--bg)
}

main > section > h1 {
  font-weight: bold;
  text-align: center;
  background: var(--theme--contents-title-bg);
  color: var(--theme--contents-title-color);
  padding: 1em 0
}

main > section a {
  color: var(--theme--anchor-color)
}

main > section a:hover {
  color: var(--theme--anchor-hover-color)
}

main.home > section ol li {
  background: var(--theme--contents-item-bg);
  color: var(--theme--contents-item-color);
  margin-top: 1em;
  padding: 1em 0;
  text-align: center
}

main.home ~ nav .home {
  color: var(--theme--menu-current-color)
}
