@import "./fonts.css";
@import "./icons.css";

body {
    font-family: OpenSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: red;
}

main {
    background: yellow;
}

body > header,
body > nav > a {
    background: rgba(204, 204, 255, 1);
}

main > h1 {
    text-align: center;
}

main > section {
    min-height: 20em;
    background: rgba(204, 204, 255, 1);
}

body > nav ol:first-of-type {
    background: rgba(0, 0, 34, 1);
}

body > nav > ol:first-of-type > li {
    border-bottom: .063em solid rgba(255, 255, 255, .3);
}

body > nav > ol:first-of-type a,
body > nav > ol:first-of-type a:before {
    color: rgba(204, 204, 255, 1);
}

body > nav > ol:first-of-type a.current,
body > nav > ol:first-of-type a.current:before {
    color: rgba(91, 192, 190, 1);
}

@media screen and (min-width: 50em) and (min-height: 40em) {
    main > section {
        width: 20em;
    }
}

/* BrowserStack */

body > footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 2.5em;
    padding: .25em;
    background-color: rgba(19, 35, 51, 1);
}

body > footer > a {
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

body > footer > a > img {
    height: 1.5em;
    vertical-align: -20%;
}