@import "./fonts.css";
@import "./icons.css";

body {
    font-family: OpenSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: rgba(245, 245, 255, 1);
}

body > header,
body > nav > a {
    background: rgba(204, 204, 255, 1);
}

body > header > ol > li > a + ol,
body > header > ol > li > a + ol + p {
    background: rgba(255, 255, 181, 1);
}

body > header > ol > li > a {
    color: rgba(245, 245, 255, 1);
    font-size: 1.5em;
    line-height: 2em;
    width: 2em;
}

body > header > ol > li > ol > li > a {
    display: block;
    height: 100%;
}

main > h1 {
    text-align: center;
}

main > section {
    min-height: 20em;
    background: rgba(204, 204, 255, 1);
}

body > nav ol:first-of-type {
    background: rgba(0, 0, 34, 1);
}

body > nav > ol:first-of-type > li {
    border-bottom: .063em solid rgba(255, 255, 255, .3);
}

body > nav > ol:first-of-type a,
body > nav > ol:first-of-type a:before {
    color: rgba(204, 204, 255, 1);
}

body > nav > ol:first-of-type a.current,
body > nav > ol:first-of-type a.current:before {
    color: rgba(91, 192, 190, 1);
}

@media screen
and (min-width: 50em) {
    main > section {
        width: 20em;
    }
}
